<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="/styles.css" />
	</head>
	<body>
		<h1 class="text-6xl font-bold underline bg-yellow-500">Hello world!!!!</h1>
		<form action="/new" method="post" class="flex flex-col">
			<label for="title">Title:</label>
			<input type="text" name="title" id="title" />

			<div class="flex flex-row">
				<label for="genre">Genre:</label>
				<br />
				<% genres.forEach(({ genre }) => { %>
				<label>
					<input type="checkbox" name="genres" value="<%= genre %>" />
					<%= genre %> </label
				><br />
				<% }) %>
				<label for="developer">Developer:</label>
				<br />
				<% developers.forEach(({ developer }) => { %>
				<label>
					<input type="checkbox" name="developers" value="<%= developer %>" />
					<%= developer %> </label
				><br />
				<% }) %>
			</div>

			<button type="submit">Submit</button>
		</form>
	</body>
</html>
